/* body {
    background-color: #f5f5f5;
    
 
    font-family: Arial, sans-serif;
  } */

  .ourcard {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 450px;
    text-align: center;
    
    margin-bottom: 40px;
    margin-top: 70px;
    
  }

  .ourcard img {
    width:350px;
    height: 250px;
    object-fit: cover;
  }

  .ourcard-text {
    padding: 20px;
    font-size: 25px;
    color: #333;
    
  }
.ourfullstory{
    display: flex;
        
    justify-content: center;
    gap: 25px;
  

}

.ourstory{

   display: flex;
   justify-content: center;
   align-items:center;
   padding: 30px;
}

.ourstory img{
  height: 600px;
  width: 800px;
}

.about{
  background: lightcyan;
  height: 700px;
  width: 1520px;
  margin-top: 20px;
  
}

.story h2{
  font-size: 33px;
}

.story p{
  font-size: 20px;
  font-style: normal;
 
}


