body {
   
    font-family: 'Arial', sans-serif;
  }
  .header {
    background-color: white;
    color: white;
    text-align: center;
    
  }

  .header img{
    height: 90%;
    width: 97%;
    object-fit: cover;
  margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right:20px ;
    
  }

  .header img:hover{
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
    
  }
  .header h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .header p {
    font-size: 1em;
    max-width: 700px;
    margin: 0 auto;
  }
 
  .section-title {
    text-align: center;
    font-size: 2em;
    margin: 30px 0 20px;
    color: #00205B;
  }
  .options {
    display: flex;
    justify-content: center;
    gap: 400px;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .option {
    text-align: center;
  }
  .option img {
    margin-top: 10px;

    width: 320px;
    height: auto;
    border-radius: 20px;
  }
  .option p {
    margin-top: 10px;
    font-size: 27px;
    color: #00205B;
  }
  .footer {
    background-color: #00205B;
    color: white;
    text-align: center;
    padding: 30px 20px;
    font-size: 0.8em;
    margin-top: 20px;
  }
  .footer a {
    color: white;
    margin: 0 10px;
    text-decoration: underline;
  }